body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#8C8C8C;
}
.u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:105px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#8C8C8C;
}
.u184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:149px;
  display:flex;
  transition:none;
}
.u185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u185_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:128px;
  height:159px;
}
.u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#8C8C8C;
}
.u187 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:160px;
  width:105px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#8C8C8C;
}
.u187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u188 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:0px;
  width:118px;
  height:149px;
  display:flex;
  transition:none;
}
.u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u188_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:128px;
  height:159px;
}
.u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u189 {
  position:absolute;
  left:11px;
  top:60px;
  visibility:hidden;
}
.u189_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:440px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u189_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:440px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:370px;
  display:flex;
  transition:none;
}
.u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:370px;
}
.u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u193 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:380px;
  width:120px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u194 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:380px;
  width:120px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:70px;
  width:324px;
  height:716px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  text-align:center;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:393px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  text-align:center;
}
#u195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
