body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:375px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
.u220 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
.u220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
.u221 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:44px;
  width:80px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
.u221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
.u222 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:80px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
.u222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u222_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
.u223 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:137px;
  width:80px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
.u223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
.u224 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:105px;
  width:80px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
.u224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u225_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u225 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:102px;
  width:117px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u225 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u225_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u225.disabled {
}
.u225_input_option {
}
.u226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u226_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u226 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:102px;
  width:117px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u226 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u226_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u226.disabled {
}
.u226_input_option {
}
.u227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u227_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u227_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u227_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u227 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:41px;
  width:270px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u227_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u227.hint {
}
.u227_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u227.disabled {
}
.u227_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u227.hint.disabled {
}
.u228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u228_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u228_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u228_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u228 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:69px;
  width:270px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u228_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u228.hint {
}
.u228_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u228.disabled {
}
.u228_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u228.hint.disabled {
}
.u229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u229_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u229_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u229_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
.u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u229 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:163px;
  width:350px;
  height:202px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u229_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u229.hint {
}
.u229_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u229.disabled {
}
.u229_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:202px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
.u229.hint.disabled {
}
.u230 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:8px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
.u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u231 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:0px;
  width:32px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u232 {
  position:fixed;
  left:50%;
  margin-left:-18.5px;
  bottom:10px;
}
#u232_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  display:flex;
  transition:none;
}
#u233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u234 {
  position:fixed;
  right:20px;
  bottom:20px;
  width:50px;
  height:50px;
}
#u234_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
